<header class="woody-unused-attachments-header">
    <h1>Médias inutilisés</h1>
    <span>Made with ♥ by Raccourci Agency</span>
</header>
<div class="woody-unused-attachments-container">
    <p><strong>{{ unused_ids }}</strong> médias sont totalement inutilisés</p>
    {% if items %}
        <ul class="items-grid flex-container">
            {% for item in items %}
                {% if item.thumbnail %}
                    <li class="item" data-post-id="{{ item.post_id }}" title="{{ item.post_name }}">
                        {{ item.thumbnail }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if pagination %}
        <div class="pagination flex-container">
            <ul class="pager">
                {% for key, page in pagination %}
                    <li class="{{ key }}{{ page.current ? 'current'|html_class }}{{ page.visible ? 'visible'|html_class }}">
                        <a class="clickable {{ key }} btn" href="{{ page.link }}">{{ key }}</a>
                    </li>
                {% endfor %}
            </ul>
            <small>Page {{ pager }}/{{ max_num_pages }}</small>
        </div>
    {% endif %}
</div>
